@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
  font-family: 'Paytone One'
}

ul{
  font-family:'Josefin Sans'
}

div.line{
  border-width:1px;
  border-color: rgb(168 162 158);
}

div.line-b{
  border-width:2px;
  border-color:#000000;
}


img.putin{
  margin-top:3px;
  width: 835px;
  height: 521px;
  padding:16px;
  border-radius:23px;
  transition:0.5s;
}

img.putin:hover{
  width: 880px;
  height: 570px;
}

h5{
width: 637px;
height: 518px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 90px;
display: flex;
align-items: center;
color: #000000;
}

img.benzema{
  width: 532px;
  height: 478px;
  border-radius: 23px;
  transition:0.5s
}

img.benzema:hover{
  width: 580px;
  height: 500px;
}

img.mls-sg{
width: 888.64px;
height: 472px;
border-radius: 23px;
margin-top:1%;
transition:0.5s;
}

img.mls-sg:hover{
  width: 920px;
  height: 530px;
  border-radius: 23px;
  margin-top:1%;
  }

h9{
width: 531px;
height: 217px;
font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
color: #000000;

}

h7{
  position: absolute;
width: 875px;
height: 220px;
left: 950px;
top: 1200px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #000000;

}

h10{
width: 875px;
height: 220px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #000000;
}

img.manliv{
  width: 835px;
  height: 521px;
border-radius:23px;
transition: 0.5s;
}

img.manliv:hover{
  width: 890px;
  height: 570px;
}

h11{
  width: 570px;
height: 478px;
font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 90px;

color: #000000;
}

h13{
  width: 524px;
height: 201px;
font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #000000;
}

img.abcdefg{
  width:1000px;
  height:750px;
}